body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif; 
}


.header {
    text-align: center;
    padding: 20px 0;
}


.content {
    width: 70%;
    margin: auto;
    padding: 20px;
}


.content img {
    display: block;
    margin: 20px auto; 
    max-width: 80%; 
    height: auto; 
}


.image-container {
    text-align: center; 
    margin: 20px 0; 
}

.image-container p {
    margin: 0 auto; 
    max-width: 80%; 
    text-align: left; 
}


.image-container h2 {
    margin: 0 auto;
    max-width: 80%;
    text-align: left;
}



.footer {
    text-align: center; 
    margin-top: 40px; 
    padding: 20px 0;
    background-color: #333; 
}
